name: pokeapi_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0' 

# Dependencies specify other packages that your package needs in order to work.
dependencies:
  flutter:
    sdk: flutter

  http: ^1.2.1
  flutter_svg: ^2.0.10+110
  provider: ^6.1.2


  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^4.0.0


  flutter_launcher_icons: ^0.13.1

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true

  assets:
    - assets/images/

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg


flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "launcher_icon/poke-api-logo.png" 
  min_sdk_android: 21